* {
    font-family: 'Ubuntu', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #323232;
    display: grid;
    grid-template-columns: 15% auto;
}

nav {
    position: relative;
    z-index: 3;
    height: 100%;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-shadow: 0 0 10px #000000;
}

nav:hover {
    box-shadow: none
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: orange;
}

main {
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    color: orange;
}
.profile-card {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 10px #000000;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.nom {
    font-size: 40px;
}
img#school {
    width: 100%;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 10px;
}
h3 {
    margin: 20px 0;
}
.description {
    text-align: left;
    font-size: large;
    margin: 20px 0;
}

img.caroussel {
    width: 50%;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
}

.title {
    color: white;
    font-size: 30px;
    padding: 30px;
}

.container {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.img-description {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    box-shadow: 0 0 10px #000000;
    width: 50%;
    padding-left: 20px;
}

footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 10px #000000;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: none;
        grid-template-rows: auto;
    }
}